/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.popup-header{
    height: 20px;
    background-color: #333333;
    vertical-align: middle;
    color: #c1c1c1;
    padding: 10px;
    text-align: center;
    font-size: 20px;
  }
  .mat-dialog-container{
    padding: 0px !important;
    width: 800px !important;
    box-shadow: -1px -1px 5px white;
  }
  .mat-dialog-content {
    margin: 0px !important;
    max-height: 800px  !important;
  }
  .popup-container{
      padding:30px;
      background-color: #fdfdfd;
      color: #777777;
      overflow: auto;
      height: 480px;
  }

  .pro-button{
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    margin-top: 5px;
    width: 150px;
    cursor: pointer;    
  }
  .white-pro-button{    
    border: solid thin white;
  }
  .dark-pro-button{    
    border: solid thin #333333;
  }
  .mat-drawer-content{
    height: auto !important;
  }